<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria la Jave</title>
    <link rel="stylesheet" href="~/css/HomePage.css">
</head>
<body>
    <div id="HomeWrapper">
        <header>
            <ul>
                <li>
                    <a>
                        Login
                    </a>
                </li>
                <li>
                    <a>
                        Otros
                    </a>
                </li>
                <li>
                    <a>
                        Autores
                    </a>
                </li>
                <li>
                    <a asp-controller = "Libros" asp-action = "Index">
                        Libros
                    </a>
                </li>
            </ul>
        </header>
        <section>
            <img src="~/Imagenes/libro.png" alt="">
            <label for="">"Leer es lo mejor ....."</label>
        </section>
        <aside>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa officia commodi tempora minus fugit. Exercitationem iure nisi aperiam quidem. Sint doloribus illo earum dolor beatae voluptas soluta rerum tenetur voluptates.
            </p>
        </aside>
    </div>
</body>
</html>
