<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Lista Libros</title>
    <link rel="stylesheet" href="~/css/AutorPage.css">
</head>
<body>
    <div id="AutorWrapper">
        <header></header>
        <section></section>
    </div>

</body>
</html>l